<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>395881301876-hkq8nmrv0qg99b4cjrgie8lrepfaup0r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.395881301876-hkq8nmrv0qg99b4cjrgie8lrepfaup0r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>395881301876-jobgc5n36dssvt6gvc9hrg1ln4qmmgrt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBozpXU1sblEdogdYQGYi4bPDSpRNwo16I</string>
	<key>GCM_SENDER_ID</key>
	<string>395881301876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gunjon.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-e9f41</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-e9f41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395881301876:ios:4b5484a50548ab34c68e21</string>
</dict>
</plist>